header {
  width: 100%;
  height: 100px;
  background-color: aqua;
}

.menu {
  list-style-type: none;
  float: right;
  margin: 4px 0;
}

.menu li {
  display: inline-table;
  padding: 10px 20px;
  background-color: antiquewhite;
}

.menu li a {
  text-decoration: none;
}