.wrapper{
    width: 1300px;
    height: 1200px;
    background-color: aqua;
}

.box{
    width: 69px;
    height: 69px;
    border: 1px solid #000;
    margin-right: 1px;
    float: left;
}

.semborda{
    border-color: aqua;
}

.vermelho{
    border-color: red;
}

label{
    width: 150px;
    display: inline-table;
    text-align: right;
    margin: 5px;
}

.sexo, .interesse{
    text-align: left;
    width: 75px;
}